body {
  background-color: #630066;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.left-image,
.right-image {
  max-width: 100px; /* Adjust the maximum width of the images */
  height: auto;
}

.left-image {
  margin-right: 20px; /* Adjust the spacing between the left image and the form */
}

.right-image {
  margin-left: 20px; /* Adjust the spacing between the form and the right image */
}

#registrationForm {
  background-color: #00608d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px); /* Adjusted to accommodate padding */
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 5px;
}