body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #6d0055;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
}